@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove input number arrow  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.test {
  border: 1px solid black;
}
@keyframes bgSlide {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}

.slider {
  background: linear-gradient(to right, transparent 50%, black 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}

.slider-hover:hover {
  background-position: 100% 0;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.ck-editor__editable_inline {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* custom scroll */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
